.mypage-container
  = render partial: 'shared/myheader'
  = render partial: 'shared/myselect'
  .mypage-body
    .mypage-body__box
      .mypage-body__box__image
        .mypage-body__box__image__block
          - if current_user.image?
            = image_tag current_user.image.url, height: '150px', width: '150px', class: "mypage-body__box__image__block__icon"
          - else
            = image_tag 'defoult-icon.jpg', height: '150px', width: '150px', class: 'mypage-body__box__image__block__icon'
        %h2.my-nickname
          #{current_user.nickname}
        %h3.my-lank
          Lank 500
        .progress
          .progress-bar{aria: {valuemax: "100", valuemin: "0", valuenow: "60"}, role: "progressbar", style: "width: 60%;"}
            %span.sr-only 60% Complete

