:javascript
  $(function(){
    $('.my-select li a').each(function(){
      var $href = $(this).attr('href');
      if(location.href.match($href)) {
        $(this).parent().addClass('current');
      } else {
        $(this).parent().removeClass('current');
      }
    });
  });
%ul.my-select
  %li
    = link_to "MY PAGE", "/users/#{current_user.id}"
  %li
    = link_to "EDIT PROFILE", edit_user_path(current_user.id)
  %li
    = link_to "EMAIL PASSWORD", edit_user_registration_path
  %li
    = link_to "CREATE TASK", new_task_path
  %li
    = link_to "LOGOUT",  logout_users_path