.sign-in-container
  = render partial: "shared/header"
  = render partial: "shared/signselect"
  .sign-in-container__body
    .sign-in-container__body__box
      %h2.sign-in-font Sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-user'}) do |f|
        .sign-in-main
          .form-group
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Adress", class: "input-default-another"
          .form-group
            .field
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input-default-another"
            - if devise_mapping.rememberable?
              .remember-field
                = f.check_box :remember_me
                = f.label :remember_me
            .actions
              %button{class: "actions-sign-in"}
                = f.submit "Sign in", class: "actions-sign-in-button"
              = render "devise/shared/links"
